//-----Color palete: 
//Gray
@gray: #8d8d8d;
@gray-dark: #666666;
@gray-light: #aeaeae;
@gray-lighter: #f3e9ee;

//blue
@blue: #1278ad;
@blue-dark: #006699;
@blue-light: #6699cc;
@blue-lighter: #c3deea;

.shadow(@alpha) {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,@alpha);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,@alpha);
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.scale(@zoom) {
    transform:scale(@zoom);
    -ms-transform:scale(@zoom);
    -moz-transform:scale(@zoom);
    -webkit-transform:scale(@zoom);
    -o-transform:scale(@zoom);
}

.background-transition(@ms) {
    -webkit-transition: background @ms ease-in-out;
    -moz-transition: background @ms ease-in-out;
    -ms-transition: background @ms ease-in-out;
    -o-transition: background @ms ease-in-out;
    transition: background @ms ease-in-out;
}

.all-transition(@ms) {
    -webkit-transition: all @ms ease-in-out;
    -moz-transition: all @ms ease-in-out;
    -ms-transition: all @ms ease-in-out;
    -o-transition: all @ms ease-in-out;
    transition: all @ms ease-in-out;
}

.height-transition(@ms) {
    -webkit-transition: height @ms ease-in-out;
    -moz-transition: height @ms ease-in-out;
    -ms-transition: height @ms ease-in-out;
    -o-transition: height @ms ease-in-out;
    transition: height @ms ease-in-out;
}

.gradient(@color-1; @percentage-1; @color-2; @percentage-2) {
    background: @color-1;
    background: -moz-linear-gradient(top,  @color-1 @percentage-1, @color-2 @percentage-2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(@percentage-1,@color-1), color-stop(@percentage-2,@color-2));
    background: -webkit-linear-gradient(top,  @color-1 @percentage-1,@color-2 @percentage-2);
    background: -o-linear-gradient(top,  @color-1 @percentage-1,@color-2 @percentage-2);
    background: -ms-linear-gradient(top,  @color-1 @percentage-1,@color-2 @percentage-2);
    background: linear-gradient(to bottom,  @color-1 @percentage-1,@color-2 @percentage-2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color-1', endColorstr='@color-2',GradientType=0 );
}

//-----Typography
@font: 'Source Sans Pro', sans-serif;
